<main>
  <div class="photo">
    <img ngSrc="thiago-cover.png" alt="thiago-iamge" width="350" height="350">
  </div>
  <div class="info">
    <p>Olá! Meu nome é <strong><i> Thiago</i></strong> e sou desenvolvedor <strong><i>frontend</i></strong>.<br><br> Trabalho criando sites e soluções web,<strong> <i>sempre buscando a melhor experiência do usuário e a mais alta qualidade de código.</i></strong><br><br>Cada projeto é uma nova oportunidade para explorar tecnologias, resolver desafios e criar algo que possa fazer a diferença.
      <br><strong><i>Seja bem-vindo ao meu portfólio. Espero que goste do meu trabalho</i></strong></p>
  </div>
</main>
