.projects{
  border: 2px solid rgb(129, 0, 0);
  width:100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  padding-left: 450px;
}
app-project-card{
  margin-right: 10px;
}
@media (max-width:430px) {
  .projects{
    padding-left: 1100px;
  }
}
