
<app-navbar></app-navbar>

<main id="principal">
  <div class="container" id="home">
    <app-main-div>
      <div class="main">
        <app-home></app-home>
      </div>
    </app-main-div>
  </div>
  <h1>Versão ainda em desenvolvimento ...</h1>


  <div class="container" id="about">
    <app-main-div>
      <app-about-me></app-about-me>
    </app-main-div>
  </div>
  <h1>Versão ainda em desenvolvimento ...</h1>

  <div class="container" id="services">
    <app-main-div>
      <app-services></app-services>
    </app-main-div>
  </div>
  <h1>Versão ainda em desenvolvimento ...</h1>

  <div class="container" id="projects">
    <app-main-div>
      <app-projects>

      </app-projects>
    </app-main-div>
  </div>
  <h1>Versão ainda em desenvolvimento ...</h1>


  <div class="container" id="languages">
    <app-main-div>
      <app-languages></app-languages>
    </app-main-div>
  </div>
  <h1>Versão ainda em desenvolvimento ...</h1>

  <div class="container" id="contact">
    <app-main-div>
      <a href=""><img src="icon-instagram.svg" alt=""></a>
    </app-main-div>
  </div>
  <h1>Versão ainda em desenvolvimento ...</h1>

  <div class="container">
    <app-main-div>
      <div class="footer">
        <h1>Obrigado</h1>
        <a href="#home">Voltar para o topo</a>
      </div>

    </app-main-div>
  </div>

</main>

<router-outlet></router-outlet>
