*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#principal{
  width: 100%;
  height: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container{
  padding: 50px 0;
  width: 100%;
  height: 100%;

}
#contact{
  display: flex;
  flex-direction: column;
  img{
    width: 50px;
  }
}

 #about, #services, #languages, #projects, #contact{
  animation: scrolla 5s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
    animation-fill-mode: forwards;
}
.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;

  h1{
    padding: 30px;
  }
}
app-main-div{
  overflow: scroll;
}
@keyframes scrolla{
  0%{
      opacity: 0;
      translate: -100vw 0;
  }
  100%{
      opacity: 1;
      translate: 0 0;
  }

}
@media (width:320px) {
  #principal{
    left: 20px;
  }
}
@media (max-width:430px){
  #principal{
    position: relative;
    right: 35px;
  }
}

