<h1 class="titulo">Tecnologias que domino</h1>

<main>
  <div class="front-end box">
    <h1>Front-End</h1>
    <ul>
      <li><i class="fa-brands fa-html5"></i>Html</li>
      <li><i class="fa-brands fa-css3-alt"></i>Css/Scss</li>
      <li><i class="fa-brands fa-js"></i>Javascript/Typescript</li>

    </ul>
  </div>
  <div class="frameworks box">
    <h1>Frameworks & Bibliotecas</h1>
    <ul>
      <li><i class="fa-brands fa-angular"></i>Angular</li>
      <li><i class="fa-brands fa-bootstrap"></i>Bootstrap</li>
      <li><i class="fa-brands fa-react"></i>React</li>
      <!-- <li>Rails</li> -->

    </ul>
  </div>
  <!-- <div class="back-end box">
    <h1>Back-End</h1>
    <ul>
      <li>Ruby</li>
      <li><i class="fa-brands fa-java"></i>Java</li>
      <li>.Net/C#</li>
    </ul>
  </div> -->
</main>
