<h1 class="titulo">Linguagens e Frameworks</h1>

<main>
    <ul>
      <li class="logo"><img src="icon-html.svg" alt="html icon" >HTML</li>
      <li class="logo"><img src="icon-css.svg" alt="css icon">CSS</li>
      <li><img src="icon-javascript.svg" alt="javascript icon">JavaScript</li>
      <li class="logo"><img src="icon-typescript.svg" alt="typescript icon">TypeScript</li>
      <li><img src="icon-angular.svg" alt="">Angular</li>
      <li><img src="icon-react.svg" alt="">React</li>
      <li><img src="icon-tailwindcss.svg" alt="TailwindCss icon"> TailwindCSS</li>
      <li><img src="icon-scss.svg" alt="Scss icon"> Scss</li>
<!--       <li><img src="icon-ruby.svg" alt="ruby"> Ruby</li>
 -->
    </ul>
  <!-- <div class="back-end box">
    <h1>Back-End</h1>
    <ul>
      <li>Ruby</li>
      <li><i class="fa-brands fa-java"></i>Java</li>
      <li>.Net/C#</li>
    </ul>
  </div> -->
</main>
