.titulo{
  font-size: 50px;
  position: relative;
  bottom: 20px;
}
main{
  display: flex;
  height: 100%;
  width: 100%;
  gap: 20px;

  .services{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items:center;
    justify-content: space-evenly;
    height: 400px;
    background: #1f1f34;
    border-radius: 20px;


    h1{
      font-size: 46px;
    }
    ul{
      text-align: left;
      width: 100%;
      padding-left: 40px;
    }

    li{
      list-style: none;
      margin: 10px;
      font-size: 26px;
      color: var(--borda-destaque);
    }

  }
}
@media (min-width:430px){
  main{
    .services{
      margin: 0 20px;
      padding: 10px 0;
      h1{
        font-size: 40px;
      }
      li{
        font-size: 24px;
      }
    }
  }
}
@media (max-width:430px){
  main{
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .services{
      width: 90%;
      height: 100%;
      padding: 20px 0;
      h1{
        font-size: 20px;
      }

      li{
        font-size: 16px;
      }
    }
  }
}
